.btn-wide {
	width: 220px;
	padding-left: 0;
	padding-right: 0;
}

.button-many-to-cart {
    display: table;
    vertical-align: top;    
}

.button-many-to-cart .button-many-to-cart-qty {
    display: table-cell;
    vertical-align: top;
    width: 25px; 
}

.button-many-to-cart .button-many-to-cart-button {
    margin-left: 5px;
}

.btn-orange {
  background-color: hsl(31, 100%, 46%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ea7900", endColorstr="#ea7900");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ea7900), to(#ea7900));
  background-image: -moz-linear-gradient(top, #ea7900, #ea7900);
  background-image: -ms-linear-gradient(top, #ea7900, #ea7900);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ea7900), color-stop(100%, #ea7900));
  background-image: -webkit-linear-gradient(top, #ea7900, #ea7900);
  background-image: -o-linear-gradient(top, #ea7900, #ea7900);
  background-image: linear-gradient(#ea7900, #ea7900);
  border-color: #ea7900 #ea7900 hsl(31, 100%, 46%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}

.btn-green {
  background-color: hsl(82, 69%, 43%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#81b921", endColorstr="#81b921");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#81b921), to(#81b921));
  background-image: -moz-linear-gradient(top, #81b921, #81b921);
  background-image: -ms-linear-gradient(top, #81b921, #81b921);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #81b921), color-stop(100%, #81b921));
  background-image: -webkit-linear-gradient(top, #81b921, #81b921);
  background-image: -o-linear-gradient(top, #81b921, #81b921);
  background-image: linear-gradient(#81b921, #81b921);
  border-color: #81b921 #81b921 hsl(82, 69%, 43%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}

.btn-dark-green {
  background-color: hsl(110, 56%, 16%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#398f28", endColorstr="#193f11");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#398f28), to(#193f11));
  background-image: -moz-linear-gradient(top, #398f28, #193f11);
  background-image: -ms-linear-gradient(top, #398f28, #193f11);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #398f28), color-stop(100%, #193f11));
  background-image: -webkit-linear-gradient(top, #398f28, #193f11);
  background-image: -o-linear-gradient(top, #398f28, #193f11);
  background-image: linear-gradient(#398f28, #193f11);
  border-color: #193f11 #193f11 hsl(110, 56%, 11%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}

.btn-red {
  background-color: hsl(5, 79%, 35%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e64031", endColorstr="#9f1e12");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e64031), to(#9f1e12));
  background-image: -moz-linear-gradient(top, #e64031, #9f1e12);
  background-image: -ms-linear-gradient(top, #e64031, #9f1e12);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e64031), color-stop(100%, #9f1e12));
  background-image: -webkit-linear-gradient(top, #e64031, #9f1e12);
  background-image: -o-linear-gradient(top, #e64031, #9f1e12);
  background-image: linear-gradient(#e64031, #9f1e12);
  border-color: #9f1e12 #9f1e12 hsl(5, 79%, 30%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}

.btn-cyan {
  background-color: hsl(171, 100%, 40%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ccad", endColorstr="#00ccad");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#00ccad), to(#00ccad));
  background-image: -moz-linear-gradient(top, #00ccad, #00ccad);
  background-image: -ms-linear-gradient(top, #00ccad, #00ccad);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00ccad), color-stop(100%, #00ccad));
  background-image: -webkit-linear-gradient(top, #00ccad, #00ccad);
  background-image: -o-linear-gradient(top, #00ccad, #00ccad);
  background-image: linear-gradient(#00ccad, #00ccad);
  border-color: #00ccad #00ccad hsl(171, 100%, 40%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}

